.row {
  border: 1px solid #000;
  display: flex;
  width: 80%;
}

.col {
  margin: 10px;
}

.col li {
  list-style-type: none;
}

h1 {
  text-align: center;
}

.form {
  display: flex;
  justify-content: center;
}

.form-title {
  text-align: center;
}

.btn, .btn-success {
  margin: 0 10px;
}
